
/* Add a black background color to the top navigation */
.topnav {
  background-color: black;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: rgb(170, 1, 1);
  color: white;
}


.App {
  text-align: center;
  color: red;
  font-size: calc(25px);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  background-color: 'transparent';
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    /*animation: App-logo-spin infinite 20s linear;*/
    height: 200px;
    width: 300px;
    background-color: 'transparent';
  }
}

.App-header {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(30px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.photo{
  height: 200;
  width: 200;
  background-color: white;
}

.myButton {
	box-shadow:inset 0px 1px 0px 0px #ff0000;
	background:linear-gradient(to bottom, #ff0000 5%, rgb(188, 21, 21) 100%);
	background-color:#ff0000;
	border-radius:3px;
	border:1px solid #942911;
	display:inline-block;
	cursor:pointer;
	color:rgb(255, 255, 255);
	font-family:Arial;
	font-size:24px;
	padding:10px 24px;
	text-decoration:none;  
}
.myButton:hover {
	background:linear-gradient(to bottom, #b90000 5%, #b90000 100%);
	background-color:#b90000;
}
.myButton:active {
	position:relative;
	top:1px;
}

.footer {  
  position: fixed;  
  font-size: medium;
  left: 0;  
  bottom: 0;  
  right: 0;   
  width: 100%;  
  background-color: rgb(168, 74, 74);  
  color: white;  
  text-align: center;
  padding-top: 3px;
  padding-bottom: 3px;  
  }
  
.AboutText {
  position: relative;
  font-size: x-large;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;

}
.images {
  background-color: transparent;
  animation: App-logo-spin infinite 15s linear;

}

video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

